{% extends 'main.html' %}
{% load staticfiles %}

{% block article%}
<div class="col-md-8 col-md-offset-2">

    <table class="table table-hover">
        <tbody>
    {% for article in articles %}
        <tr>
        <td><img src="{{article.article_cover.url}}"width="120" height="120"></td>
        <td>
            <h4 align="left"><a href="/articles/get/{{ article.id }}" >{{ article.article_title }}</a></h4>
            <p> {{article.article_text}} </p>
        </td>

        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
